Projects/Atlas/Oji/03_Reflection_Agent/workflow.json
{
  "name": "03_Reflection_Agent",
  "nodes": [
    {
      "parameters": {
        "color": "#FFD166",
        "content": "Webhook → Set inputs → Load reflection prompt → OpenAI → Return summaries and feedback."
      },
      "id": "0",
      "name": "Sticky Note - Reflection Agent",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 80]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "oji/reflection-agent"
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 260],
      "notes": "Accepts recent chat logs for reflection.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": [
          { "name": "sessionId", "value": "={{$json.sessionId}}" },
          { "name": "chatHistory", "value": "={{$json.chatHistory}}" }
        ]
      },
      "id": "2",
      "name": "Set Reflection Inputs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 260],
      "notes": "Captures the sessionId and chat history payload.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "filePath": "../prompts/reflection_agent_prompt.txt"
      },
      "id": "3",
      "name": "Load Reflection Prompt",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [700, 260],
      "notes": "Reads the reflection instructions used to update self-learning stores.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4o-mini",
        "messages": [
          {
            "role": "system",
            "message": "={{$binary.data.toString()}}"
          },
          {
            "role": "user",
            "message": "Recent chat log: {{JSON.stringify($json.chatHistory)}}"
          }
        ]
      },
      "id": "4",
      "name": "OpenAI - Reflection Agent",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [950, 260],
      "credentials": {
        "openAIApi": "OpenAI - Oji"
      },
      "notes": "Generates intent summaries, tool feedback, and long-term facts.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "5",
      "name": "Return Reflection",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 260],
      "notes": "Returns reflection outputs to the async flow.",
      "notesInFlow": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Set Reflection Inputs", "type": "main", "index": 0 }
        ]
      ]
    },
    "Set Reflection Inputs": {
      "main": [
        [
          { "node": "Load Reflection Prompt", "type": "main", "index": 0 }
        ]
      ]
    },
    "Load Reflection Prompt": {
      "main": [
        [
          { "node": "OpenAI - Reflection Agent", "type": "main", "index": 0 }
        ]
      ]
    },
    "OpenAI - Reflection Agent": {
      "main": [
        [
          { "node": "Return Reflection", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {},
  "version": 2
}
