Projects/Atlas/Oji/01_Query_Analysis_Agent/workflow.json
{
  "name": "01_Query_Analysis_Agent",
  "nodes": [
    {
      "parameters": {
        "color": "#FFD166",
        "content": "Webhook → Set variables → Load prompt text → OpenAI (intent JSON) → Return analysis."
      },
      "id": "0",
      "name": "Sticky Note - Query Agent",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 80]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "oji/query-analysis"
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 260],
      "notes": "Receives sessionId and userMessage from the main flow.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": [
          { "name": "sessionId", "value": "={{$json.sessionId}}" },
          { "name": "userMessage", "value": "={{$json.userMessage}}" }
        ]
      },
      "id": "2",
      "name": "Set Session & Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 260],
      "notes": "Ensures sessionId and userMessage are set for prompt construction.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "filePath": "../prompts/query_analysis_prompt.txt"
      },
      "id": "3",
      "name": "Load Query Prompt",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [700, 260],
      "notes": "Reads the query analysis prompt text from the prompts folder.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4o-mini",
        "messages": [
          {
            "role": "system",
            "message": "={{$binary.data.toString()}}"
          },
          {
            "role": "user",
            "message": "={{$json.userMessage}}"
          }
        ]
      },
      "id": "4",
      "name": "OpenAI - Query Analysis",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [950, 260],
      "credentials": {
        "openAIApi": "OpenAI - Oji"
      },
      "notes": "Runs the query analysis prompt to produce routing JSON.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "5",
      "name": "Return Analysis",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 260],
      "notes": "Returns the analysis JSON to the calling workflow.",
      "notesInFlow": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Set Session & Message", "type": "main", "index": 0 }
        ]
      ]
    },
    "Set Session & Message": {
      "main": [
        [
          { "node": "Load Query Prompt", "type": "main", "index": 0 }
        ]
      ]
    },
    "Load Query Prompt": {
      "main": [
        [
          { "node": "OpenAI - Query Analysis", "type": "main", "index": 0 }
        ]
      ]
    },
    "OpenAI - Query Analysis": {
      "main": [
        [
          { "node": "Return Analysis", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {},
  "version": 2
}
