Projects/Atlas/Oji_2/03_Reflection_Agent/workflow.json
{
  "name": "03_Reflection_Agent",
  "nodes": [
    {"parameters": {}, "id": "1", "name": "Execute Workflow Trigger", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1, "position": [100, 200]},
    {"parameters": {"content": "Reflection runs after every reply to keep Oji learning.", "color": "#F7E26B"}, "id": "2", "name": "Note: Entry", "type": "n8n-nodes-base.note", "typeVersion": 1, "position": [100, 60]},
    {"parameters": {"functionCode": "const chat = $json.arguments?.chat || $json.chat || $json;\nreturn [{ json: { chat } }];"}, "id": "3", "name": "Function: Extract Chat", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [100, 360]},
    {"parameters": {"filePath": "../../Project/Atlas/Oji_2/prompts/reflection_prompt.txt"}, "id": "4", "name": "Read Reflection Prompt", "type": "n8n-nodes-base.readBinaryFile", "typeVersion": 1, "position": [100, 520]},
    {"parameters": {"content": "Prompt guides summarizing + memory updates.", "color": "#F7E26B"}, "id": "5", "name": "Note: Prompt", "type": "n8n-nodes-base.note", "typeVersion": 1, "position": [340, 520]},
    {"parameters": {"model": "gpt-4o-mini", "operation": "chat", "systemMessage": "={{ Buffer.from($binary.data.data,'base64').toString() }}", "messages": [{"role": "user", "content": "Recent chat: {{$json.chat | json}}"}], "options": {"temperature": 0.3, "maxTokens": 500}}, "id": "6", "name": "OpenAI: Reflect", "type": "n8n-nodes-base.openAi", "typeVersion": 4, "position": [100, 700], "credentials": {"openAIApi": {"id": "OpenAI", "name": "OpenAI"}}},
    {"parameters": {"content": "Insert reflection artifacts into multiple collections (8–12).", "color": "#F7E26B"}, "id": "7", "name": "Note: Updates", "type": "n8n-nodes-base.note", "typeVersion": 1, "position": [340, 700]},

    {"parameters": {"operation": "insert", "collection": "ReflectionsInsights", "fields": "={{ { sessionId: $json.chat.analysis.session_id, reflection: $json.choices[0].message.content, timestamp: new Date().toISOString() } }}"}, "id": "8", "name": "Mongo: Reflections", "type": "n8n-nodes-base.mongoDb", "typeVersion": 2, "position": [100, 880], "credentials": {"mongoDb": {"id": "MongoDB Atlas", "name": "MongoDB Atlas"}}},
    {"parameters": {"operation": "insert", "collection": "GoalsValuesBeliefs", "fields": "={{ { sessionId: $json.chat.analysis.session_id, note: 'reflection_goals', data: $json.choices[0].message.content } }}"}, "id": "9", "name": "Mongo: Goals Update", "type": "n8n-nodes-base.mongoDb", "typeVersion": 2, "position": [320, 880], "credentials": {"mongoDb": {"id": "MongoDB Atlas", "name": "MongoDB Atlas"}}},
    {"parameters": {"operation": "insert", "collection": "PersonalityTraits", "fields": "={{ { sessionId: $json.chat.analysis.session_id, note: 'trait_tuning', data: $json.choices[0].message.content } }}"}, "id": "10", "name": "Mongo: Traits Update", "type": "n8n-nodes-base.mongoDb", "typeVersion": 2, "position": [540, 880], "credentials": {"mongoDb": {"id": "MongoDB Atlas", "name": "MongoDB Atlas"}}},
    {"parameters": {"operation": "insert", "collection": "SemanticMemories", "fields": "={{ { tags: ['reflection','semantic'], content: $json.choices[0].message.content, sessionId: $json.chat.analysis.session_id } }}"}, "id": "11", "name": "Mongo: Semantic Update", "type": "n8n-nodes-base.mongoDb", "typeVersion": 2, "position": [760, 880], "credentials": {"mongoDb": {"id": "MongoDB Atlas", "name": "MongoDB Atlas"}}},
    {"parameters": {"operation": "insert", "collection": "ProceduralMemories", "fields": "={{ { procedure: 'post_chat_adjustment', steps: [$json.choices[0].message.content], sessionId: $json.chat.analysis.session_id } }}"}, "id": "12", "name": "Mongo: Procedural Update", "type": "n8n-nodes-base.mongoDb", "typeVersion": 2, "position": [980, 880], "credentials": {"mongoDb": {"id": "MongoDB Atlas", "name": "MongoDB Atlas"}}},
    {"parameters": {"operation": "insert", "collection": "EpisodicMemories", "fields": "={{ { sessionId: $json.chat.analysis.session_id, event: 'reflection', detail: $json.choices[0].message.content, timestamp: new Date().toISOString() } }}"}, "id": "13", "name": "Mongo: Episodic Update", "type": "n8n-nodes-base.mongoDb", "typeVersion": 2, "position": [1200, 880], "credentials": {"mongoDb": {"id": "MongoDB Atlas", "name": "MongoDB Atlas"}}},
    {"parameters": {"operation": "insert", "collection": "EmotionalHistory", "fields": "={{ { sessionId: $json.chat.analysis.session_id, emotions: $json.choices[0].message.content, timestamp: new Date().toISOString() } }}"}, "id": "14", "name": "Mongo: Emotional History", "type": "n8n-nodes-base.mongoDb", "typeVersion": 2, "position": [1420, 880], "credentials": {"mongoDb": {"id": "MongoDB Atlas", "name": "MongoDB Atlas"}}},
    {"parameters": {"operation": "insert", "collection": "CurrentEmotionalState", "fields": "={{ { state: 'reflected', detail: $json.choices[0].message.content, updatedAt: new Date().toISOString() } }}"}, "id": "15", "name": "Mongo: Current Emotion", "type": "n8n-nodes-base.mongoDb", "typeVersion": 2, "position": [1640, 880], "credentials": {"mongoDb": {"id": "MongoDB Atlas", "name": "MongoDB Atlas"}}},
    {"parameters": {"operation": "insert", "collection": "ProjectTasks", "fields": "={{ { sessionId: $json.chat.analysis.session_id, task: 'follow_up', detail: $json.choices[0].message.content, status: 'queued' } }}"}, "id": "16", "name": "Mongo: Tasks", "type": "n8n-nodes-base.mongoDb", "typeVersion": 2, "position": [1860, 880], "credentials": {"mongoDb": {"id": "MongoDB Atlas", "name": "MongoDB Atlas"}}},
    {"parameters": {"operation": "insert", "collection": "VectorMemoryChunks", "fields": "={{ { sessionId: $json.chat.analysis.session_id, text: $json.choices[0].message.content, tags: ['reflection'] } }}"}, "id": "17", "name": "Mongo: Vector Chunks", "type": "n8n-nodes-base.mongoDb", "typeVersion": 2, "position": [2080, 880], "credentials": {"mongoDb": {"id": "MongoDB Atlas", "name": "MongoDB Atlas"}}},
    {"parameters": {"operation": "insert", "collection": "ActivityLog", "fields": "={{ { sessionId: $json.chat.analysis.session_id, action: 'reflected', timestamp: new Date().toISOString() } }}"}, "id": "18", "name": "Mongo: Activity", "type": "n8n-nodes-base.mongoDb", "typeVersion": 2, "position": [2300, 880], "credentials": {"mongoDb": {"id": "MongoDB Atlas", "name": "MongoDB Atlas"}}}
  ],
  "connections": {
    "Execute Workflow Trigger": {"main": [[{"node": "Function: Extract Chat", "type": "main", "index": 0}]]},
    "Function: Extract Chat": {"main": [[{"node": "Read Reflection Prompt", "type": "main", "index": 0}]]},
    "Read Reflection Prompt": {"main": [[{"node": "OpenAI: Reflect", "type": "main", "index": 0}]]},
    "OpenAI: Reflect": {"main": [[{"node": "Mongo: Reflections", "type": "main", "index": 0}]]},
    "Mongo: Reflections": {"main": [[{"node": "Mongo: Goals Update", "type": "main", "index": 0}]]},
    "Mongo: Goals Update": {"main": [[{"node": "Mongo: Traits Update", "type": "main", "index": 0}]]},
    "Mongo: Traits Update": {"main": [[{"node": "Mongo: Semantic Update", "type": "main", "index": 0}]]},
    "Mongo: Semantic Update": {"main": [[{"node": "Mongo: Procedural Update", "type": "main", "index": 0}]]},
    "Mongo: Procedural Update": {"main": [[{"node": "Mongo: Episodic Update", "type": "main", "index": 0}]]},
    "Mongo: Episodic Update": {"main": [[{"node": "Mongo: Emotional History", "type": "main", "index": 0}]]},
    "Mongo: Emotional History": {"main": [[{"node": "Mongo: Current Emotion", "type": "main", "index": 0}]]},
    "Mongo: Current Emotion": {"main": [[{"node": "Mongo: Tasks", "type": "main", "index": 0}]]},
    "Mongo: Tasks": {"main": [[{"node": "Mongo: Vector Chunks", "type": "main", "index": 0}]]},
    "Mongo: Vector Chunks": {"main": [[{"node": "Mongo: Activity", "type": "main", "index": 0}]]}
  }
}
