Projects/Atlas/Oji/02_Reflection_Async_Flow.json
{
  "name": "02_Reflection_Async_Flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "oji/reflection"
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 280],
      "notes": "Receives the session payload forwarded after the main reply is sent.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "options": {
          "delay": 10
        }
      },
      "id": "2",
      "name": "Wait 10 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [450, 280],
      "notes": "Adds a 10-second pause before reflecting to keep UX fast.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": [
          { "name": "sessionId", "value": "={{$json.sessionId}}" }
        ]
      },
      "id": "3",
      "name": "Set SessionId",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [700, 280],
      "notes": "Stores the sessionId so all Mongo queries are scoped correctly.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "find",
        "collection": "ChatHistories",
        "query": "{\"sessionId\": \"={{$json.sessionId}}\"}",
        "options": {
          "limit": 5,
          "sort": "{\"createdAt\": -1}"
        }
      },
      "id": "4",
      "name": "Load Recent Chat",
      "type": "n8n-nodes-base.mongodb",
      "typeVersion": 2,
      "position": [950, 280],
      "credentials": {
        "mongodb": "MongoDB Atlas - Oji"
      },
      "notes": "Fetches the latest chat turns for this session.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "workflowId": "03_Reflection_Agent"
      },
      "id": "5",
      "name": "Execute Reflection Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1200, 280],
      "notes": "Generates reflection outputs from the recent conversation.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "IntentSummaries",
        "fields": [
          { "name": "sessionId", "value": "={{$json.sessionId}}" },
          { "name": "intentSummary", "value": "={{$json.intentSummary}}" },
          { "name": "createdAt", "value": "={{new Date().toISOString()}}" }
        ]
      },
      "id": "6",
      "name": "Update IntentSummaries",
      "type": "n8n-nodes-base.mongodb",
      "typeVersion": 2,
      "position": [1450, 120],
      "credentials": {
        "mongodb": "MongoDB Atlas - Oji"
      },
      "notes": "Stores a concise recap of the session intent and answer.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "ToolFeedback",
        "fields": [
          { "name": "sessionId", "value": "={{$json.sessionId}}" },
          { "name": "toolFeedback", "value": "={{$json.toolFeedback}}" },
          { "name": "createdAt", "value": "={{new Date().toISOString()}}" }
        ]
      },
      "id": "7",
      "name": "Update ToolFeedback",
      "type": "n8n-nodes-base.mongodb",
      "typeVersion": 2,
      "position": [1450, 280],
      "credentials": {
        "mongodb": "MongoDB Atlas - Oji"
      },
      "notes": "Captures how well tools matched the need and suggestions for new tools.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "ReflectionQueue",
        "fields": [
          { "name": "sessionId", "value": "={{$json.sessionId}}" },
          { "name": "improvementIdeas", "value": "={{$json.improvementIdeas}}" },
          { "name": "status", "value": "open" },
          { "name": "createdAt", "value": "={{new Date().toISOString()}}" }
        ]
      },
      "id": "8",
      "name": "Queue Reflection",
      "type": "n8n-nodes-base.mongodb",
      "typeVersion": 2,
      "position": [1450, 440],
      "credentials": {
        "mongodb": "MongoDB Atlas - Oji"
      },
      "notes": "Adds improvement items to the reflection queue for review.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "LongTermMemory",
        "fields": [
          { "name": "sessionId", "value": "={{$json.sessionId}}" },
          { "name": "longTermMemory", "value": "={{$json.longTermMemory}}" },
          { "name": "updatedAt", "value": "={{new Date().toISOString()}}" }
        ]
      },
      "id": "9",
      "name": "Save LongTermMemory",
      "type": "n8n-nodes-base.mongodb",
      "typeVersion": 2,
      "position": [1700, 280],
      "credentials": {
        "mongodb": "MongoDB Atlas - Oji"
      },
      "notes": "Stores distilled facts for future conversations.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "color": "#FFD166",
        "content": "Reflection flow: Trigger → Wait 10s → Load Chat → Reflection Agent → Update IntentSummaries, ToolFeedback, ReflectionQueue, LongTermMemory."
      },
      "id": "10",
      "name": "Sticky Note - Reflection Flow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1100, 80]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Wait 10 Seconds", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait 10 Seconds": {
      "main": [
        [
          { "node": "Set SessionId", "type": "main", "index": 0 }
        ]
      ]
    },
    "Set SessionId": {
      "main": [
        [
          { "node": "Load Recent Chat", "type": "main", "index": 0 }
        ]
      ]
    },
    "Load Recent Chat": {
      "main": [
        [
          { "node": "Execute Reflection Agent", "type": "main", "index": 0 }
        ]
      ]
    },
    "Execute Reflection Agent": {
      "main": [
        [
          { "node": "Update IntentSummaries", "type": "main", "index": 0 },
          { "node": "Update ToolFeedback", "type": "main", "index": 0 },
          { "node": "Queue Reflection", "type": "main", "index": 0 },
          { "node": "Save LongTermMemory", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {},
  "version": 2
}
